.block-text
    .container
        max-width none
        padding 0
        

.admin-container
    background-color #fff
    transition all 0.1s ease
    padding 0
    cursor pointer
    &:hover
        padding 2rem
        background-color #a3ff82
        .inner
            border 2px dashed #010101
            cursor auto
.inner
    background-color #fff
    transition all 0.15s ease
    border 0