.overlay
    display flex
    align-items center
    justify-content center
    width 100%
    height 100%
    padding 2rem 4rem
    background-color rgba(0, 0, 0, 0.3)
    
    position fixed
    top 0
    left 0
    

.overlay-con
    position relative
    height: 100%;
    width: 100%;
    max-width 1366px

.body
    position absolute
    background-color #fff
    width 100%
    height 100%
    overflow hidden
    padding 3rem
    overflow auto