.block
    color #283d50

.text-container
    max-width 1000px
    margin 0 auto
    padding 60px 20px
h2
    padding-bottom 20px
    font-weight normal
    font-size 36px
p
    max-width 480px
    margin 0 auto
    font-size 15px