<!-- Body -->
<div class="form-group" [class.invalid]="errors.body">
  <label for="body">Body</label>
  <textarea #body id="body" [value]="data?.body" class="form-control" rows="6" #body></textarea>
  <p class="error-response" *ngIf="errors.body">{{errors.body}}</p>
</div>
<!-- END Body -->

<!-- Color -->
<div class="form-group" [class.invalid]="errors.body">
  <label for="color">Background color</label>
  <input id="color" [value]="data?.color || defaultColor" class="form-control" #color />
  <p class="error-response" *ngIf="errors.color">{{errors.color}}</p>
</div>
<!-- END Color -->

<div class="form-group">
  <button class="btn btn-success" (click)="validateData(body.value, color.value)">Save</button>
  <p class="error-response" *ngIf="!valid">Please fill all fields correctly</p>
</div>
