.login-con
    max-width 620px
    margin 0 auto
    padding 0 20px
    margin-top 10rem

.form-con
    padding 1rem
    border 3px solid rgba(78, 115, 223, 0.4)
    border-radius 0.3rem
h2
    color rgba(78, 115, 223, 1)  
    padding-bottom 2rem
    text-align center
    font-size 2rem

h4
    color rgba(78, 115, 223, 1)
    padding-bottom 0.8rem

input 
    width 100%
    padding 0.5rem
    font-size 16px
    border 1px solid rgba(78, 115, 223, 1)
    color black

label
    color rgba(78, 115, 223, 1)
    font-size 18px

.test-credentials
    margin-bottom 1rem
    font-size 14px
    color rgba(78, 115, 223, 1)
