.main
    display flex

    .left   
        width calc(100% - 320px)
        padding-right 16px
    .right  
        width 320px
        padding-top 62px

@media (max-width 1024px)
    .main
        .left   
            width calc(100% - 180px)
        .right  
            width 180px
