<app-admin-panel>
  <section class="main">
    <div class="btn-con">
      <input (change)="uploadPhotos($event)" type="file" id="media-uploader" multiple accept=".png,.jpg,.jpeg"
        style="display: none;" />
      <label class="btn btn-primary" for="media-uploader">Upload media</label>
      <div class="media-container">
        <div *ngFor="let media of mediaList" class="media">

          <div *ngIf="media.status == 'ready'" [style.background-image]="getMediaPath(media.path)" class="bg"></div>

          <div *ngIf="media.status == 'loading'" class="upload-loading bg">
            <span>Loading</span>
          </div>

          <div *ngIf="media.status == 'error'" class="upload-error bg">
            <span>Error</span>
          </div>
        </div>
      </div>
    </div>
  </section>
</app-admin-panel>
