h1
    font-size 76px
    color #004289
    font-weight 100

p
    font-size 24px
    margin-bottom 16px

.con
    min-height calc(100vh - 170px)
    display flex
    justify-content center
    align-items center