.container
    max-width 1000px
    margin 0 auto
    padding 0 20px

.block
    color #283d50


.block-hero
    position: relative;
    background: url(/assets/intro-bg.png) center bottom no-repeat;
    background-size: cover;
    
.flex
    padding 200px 0 120px
    display flex
    align-items center
    justify-content center
    color white

h1
    font-size 48px
    font-weight bold

.cta
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    display: block;
    padding: 10px 32px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 0 20px 20px 0;
    color: #fff;
    border 2px solid white
    text-decoration none
    opacity 1
    transition 0.15s ease 
    text-align center
    width 165px
    margin-top 30px
    // margin-left auto

    &:hover
        opacity 0.7

.left, .right
    min-width 50%