.admin-panel-container
    display flex
    align-items stretch

.navigation-aside 
    min-height 100vh
    width 14rem

.main-content
    width calc(100% - 14rem)
    background-color #f8f9fc
    padding-bottom 100px


.page-content 
    padding 1rem 2rem

.shadow 
    padding 1rem
    border-radius 0.3rem
    background-color #fff
    