<div class="navigation">
  <h1 class="backend-title">
    <a routerLink="/backend">
      <fa-icon [icon]="mainIcon"></fa-icon>CMS
    </a>
  </h1>
  <span class="divider mt-0"></span>
  <span class="info-text">CONTENT</span>
  <a class="router-link" routerLink="/backend/pages" routerLinkActive="active">
    <fa-icon [icon]="pagesIcon"></fa-icon>
    <span>
      Pages
    </span>
  </a>
  <a class="router-link" routerLink="/backend/blocks" routerLinkActive="active">
    <fa-icon [icon]="blocksIcon"></fa-icon>
    <span>
      Blocks
    </span>
  </a>
  <span class="divider"></span>
  <span class="info-text">ASSESTS</span>
  <a class="router-link" routerLink="/backend/media" routerLinkActive="active">
    <fa-icon [icon]="mediaIcon"></fa-icon>
    <span>
      Media
    </span>
  </a>
  <a class="router-link" routerLink="/backend/layout" routerLinkActive="active">
    <fa-icon [icon]="layoutIcon"></fa-icon>
    <span>
      Layout
    </span>
  </a>
  <span class="divider"></span>
  <span class="router-link" (click)="logout()">
    <fa-icon [icon]="logoutIcon"></fa-icon>
    <span>
      logout
    </span>
  </span> 
</div>
