.media-container
    display flex
    justify-content flex-start
    flex-wrap wrap
    margin-top 16px

.media-item
    width 9.2%
    margin-right 2%
    margin-bottom 2%
    &:nth-child(6n)
        margin-right 0

@media (max-width 1240px)
    .media-item
        width 32%
        &:nth-child(3n)
            margin-right 0

@media (max-width 1440px)
    .media-item
        width 15%
        &:nth-child(6n)
            margin-right 0

