<header class="header">
  <div class="container">
    <div class="logo">
      <img src="/assets/logo.png" alt="Logo">
    </div>
    <ul>
      <li *ngFor="let item of headerItems">
        <a [routerLink]="item.url" [ngClass]="isLinkActive(item.url)" [title]="item.title">{{item.title}}</a>
      </li>
    </ul>
  </div>
</header>
<main>
  <app-blocks *ngIf="!loading && !notFound"></app-blocks>
  <app-loader *ngIf="loading"></app-loader>
  <app-page-not-found *ngIf="notFound"></app-page-not-found>
</main>
<footer>
  <p>{{footer?.text}}</p>
</footer>
