<header class="header">
  <div class="container">
    <div class="logo">
      <img src="/assets/logo.png" alt="Logo">
    </div>
    <ul>
      <li *ngFor="let item of headerItems">
        <a [routerLink]="item.url" [ngClass]="isLinkActive(item.url)" [title]="item.title">{{item.title}}</a>
      </li>
    </ul>
  </div>
</header>
<app-blocks *ngIf="!loading && !notFound"></app-blocks>
<div *ngIf="loading">
  <br>
  <br>
  <br>
  <h1>Loading</h1>
  <br>
  <br>
  <br>
  <br>
</div>
<div *ngIf="notFound">
  <br>
  <br>
  <br>
  <h1>Page not found</h1>
  <br>
  <br>
  <br>
  <br>
</div>
<footer>
  <p>{{footer?.text}}</p>
</footer>
