.header
    position fixed
    top 0
    left 0
    width 100%
    padding 10px 20px
    z-index 9999
    background white
.container
    max-width 960px
    margin 0 auto
    display flex
    justify-content space-between
    align-items center

img
    width 162px

ul
    list-style none
    display flex
    justify-content flex-end
    align-items center

a
    display: block;
    position: relative;
    color: #004289;
    padding: 10px 15px;
    transition: 0.3s;
    font-size: 14px;
    font-weight: 500;
    text-decoration none
    &:hover, &.active
        color #007bff


footer 
    background-color #004a99
    text-align center
    p
        max-width 270px
        margin 0 auto
        padding 30px 0
        color white
        font-size 13px

        
