.header-con
    display flex
    align-items center
    justify-content flex-end
    padding 1 rem
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)
    background-color #fff
    margin-bottom 1.5rem
.header-link
    color #d1d3e2
    font-size 1.5rem
    transition color 0.15s ease

    &:hover, &.active
        color #4e73df