<admin-panel-wrapper>
  <section class="main">
    <div class="btn-con">
      <a class="btn btn-action" routerLink="/backend/pages">View all</a>
    </div>
    <form *ngIf="!notFound" class="form" (submit)="submitHandler($event, slug.value, title.value)">
      <div class="form-group">
        <label for="slug">Slug</label>
        <input type="text" id="slug" #slug [value]="defaultSlug" class="form-control">
      </div>
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" id="title" #title [value]="defaultTitle" class="form-control">
      </div>

      <div class="blocks-picker form-group">
        <div class="left">
          <p class="block-title">Choose blocks</p>
          <div class="blocks-con">
            <div class="drag" *ngFor="let block of blocks" (click)="addBlock(block)">{{getBlockTitle(block.title)}}
            </div>
          </div>
        </div>
        <div class="right">
          <p class="block-title">Selected blocks</p>
          <div class="blocks-con" cdkDropList (cdkDropListDropped)="blocksDrop($event)">
            <div class="drag" *ngFor="let block of selectedBlocks" cdkDrag>
              <div class="draggable-con">
                {{getBlockTitle(block.title)}}
                <div class="remove" (click)="removeSelectedBlock(block)">
                  <fa-icon [icon]="removeBlockIcon"></fa-icon>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="btn btn-success">Save</button>
    </form>
    <div class="not-found-text" *ngIf="notFound">
      Page not found
    </div>
  </section>
</admin-panel-wrapper>
