<admin-panel-wrapper>
  <section class="main">
    <div class="btn-con">
      <a class="btn btn-action" routerLink="/backend/blocks/list">View all</a>
    </div>
    <div class="form" *ngIf="!loading && !notFound">
      <div class="form-group" *ngIf="!block">
        <label for="type">Select block type</label>
        <select #inputType id="type" class="form-control" [value]="type" (change)="changeType(inputType.value)">
          <option value="hero">Hero block</option>
          <option value="two_columns">Two columns block</option>
          <option value="text">Text block</option>
          <option value="partners">Partners block</option>
        </select>
      </div>
      <div class="form-group" [ngClass]="errors.title ? 'invalid' : false">
        <label for="title">Title</label>
        <input id="title" #title class="form-control" [value]="block?.title" type="text">
        <p class="error-response" *ngIf="errors.title">{{errors.title}}</p>
      </div>

      <ng-container [ngSwitch]="type">
        <block-hero *ngSwitchCase="'hero'" (submit)="submitHandler(title.value, $event)" [data]="block?.data">
        </block-hero>
        <block-text *ngSwitchCase="'text'" (submit)="submitHandler(title.value, $event)" [data]="block?.data">
        </block-text>
        <block-two-columns *ngSwitchCase="'two_columns'" (submit)="submitHandler(title.value, $event)"
          [data]="block?.data">
        </block-two-columns>
        <input-partner *ngSwitchCase="'partners'" (submit)="submitHandler(title.value, $event)" [data]="block?.data">
        </input-partner>
      </ng-container>
    </div>
    <div class="not-found-text" *ngIf="notFound">
      Block not found
    </div>
  </section>
</admin-panel-wrapper>
